.friendsContainer {
    height: 33rem;
    width: 100%;
    margin-bottom: 7rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.friendsContainer.left {
    background: url(/bg/bg-friend-left.png);
}

.friendsContainer.right {
    background: url(/bg/bg-friend-right.png);
}

.friendsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.friendsFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friendsFlex2 {
    display: flex;
}

.friendsFlex2.left {
    justify-content: flex-start;
}

.friendsFlex2.right {
    justify-content: flex-end
}


.image {
    object-fit: scale-down;
    height: 100%;
}

.friendsGrid {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10rem;
    justify-content: center
}

.text {
    color: #FFF;
    font-family: 'Londrina Solid';
    font-style: normal;
    margin: 0;
}

.friendName {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.friendTitle {
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

}

.friendmoduleName {
    color: #FFC700;
    font-family: Barlow Condensed;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
}

.friendText {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 3rem;
}

.friendImage {
    object-fit: contain; 
    max-width: 100%; 
    max-height: 100%; 
}

@media screen and (max-width: 1482px) {

    .friendsContainer.left{
        background: none;
        background-color: #FFC700;
    }

    .friendsContainer.right{
        background: none;
        background-color: #2000A0;
    }

    .friendText{
        display: none;
    }

    .friendmoduleName{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .friendsGrid.left {
        width: 95%;
        height: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 1rem;    }
    
    .friendsGrid.right {
        width: 95%;
        height: 100%;
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 1rem;    }

  }

  @media screen and (max-width: 768px) {
    .friendsGrid.left{
        grid-template-columns: 50%;
    }

    .friendsGrid.right{
        grid-template-columns: 50%;
        grid-auto-flow: row;
    }

    .friendContainer.left{
        flex-direction: column;
        background-color: #FFC700;
    }
    .friendmoduleName{
        display: none;
    }
    
}




  