.lessonsListContainer {
    height: 90%;
    width: 30%;
    background-color: var(--yellow);
    border-radius: 0.6875rem;
}

.lessonsList {
    height: 100%;
    margin: 10px;
    background-color: white;
    overflow-y: scroll;
    padding: 10px;
    font-family: Barlow;
    font-size: 16px;

    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom, 0% 0%;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chatHeader {
    height: 7rem;
    padding-left: 15px;
}

.chatHeaderText {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Londrina Solid;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}