* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.Register-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('/bg/bg-homepage.png') center/cover no-repeat;
}

.container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* Set a maximum width if needed */
  width: 100%;
  max-width: 37.5rem;
  /* 600px converted to rem */
  background: #fff;
  padding: 1.5625rem 1.875rem;
  /* 25px 30px converted to rem */
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  /* 0 0 10px converted to rem */
  border-radius: 0.5rem;
  /* 8px converted to rem */
  background-color: #ffffff;
  gap: 1.875rem;
  /* 15px converted to rem */
}

.container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5625rem;
  /* 9px converted to rem */
  width: 100%;
  margin-top: 1.875rem;
  /* 30px converted to rem */
  font-family: Londrina Solid;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.container .header .text {
  color: red;
  font-size: 3rem;
  /* 48px converted to rem */
  font-weight: 700;
}

.underline {
  width: 3.8125rem;
  /* 61px converted to rem */
  height: 0.375rem;
  /* 6px converted to rem */
  margin-top: 0.5rem;
  /* 8px converted to rem */
  background: red;
  border-radius: 0.3125rem;
  /* 5px converted to rem */
}

.container .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875rem;
  /* 15px converted to rem */
}

.inputs .registerinput,
.inputs .input2 {
  height: 2.8125rem;
  /* 45px converted to rem */
  width: calc(50% - 1.25rem);
  /* calc(100% / 2 - 20px) converted to rem */
}

.registerinput input {
  width: 15.4375rem;
  /* 247px converted to rem */
  height: 3.3125rem;
  /* 53px converted to rem */
  border-radius: 0.25rem;
  /* 4px converted to rem */
  border: 0.125rem solid #ccc;
  /* 2px converted to rem */
  color: black;
  font-size: 19px;
  font-weight: 100;
  padding-left: 0.625rem;
}

.submit-container {
  display: flex;
  gap: 6.25rem;
  /* 90px converted to rem */
  margin: 0 3.5rem 3.75rem 3.5rem;
  /* 0px auto 60px auto converted to rem */
}

.registerButton,
.loginButton {
  display: flex;
  width: 10rem;
  height: 4.5rem;
  padding: 0.5rem 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border: 0;
  border-radius: 1.125rem;
  color: var(--White, #FFF);
  font-family: Londrina Solid;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(16, 24, 40, 0.05);
  /* 0px 1px 2px 0px rgba(16, 24, 40, 0.05) converted to rem */
}

.old-user {
  font-family: Londrina Solid;
  padding-right: 18.75rem;
  /* 300px converted to rem */
  color: red;
  font-size: 1rem;
  /* 18px converted to rem */
  margin: 1.875rem 0 0 3.7rem;
  /* 30px auto 0 auto converted to rem */
}

.oldUser-buttons {
  display: flex;
  flex-direction: column;

}

.registerButton {
  background: #00DA23;
  text-decoration: none;

}

.loginButton {
  background: #0A007E;
  text-decoration: none;
}

.button-empty {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}